  .subscribe {
            background-color: rgb(190, 0, 0);
            color: white;
            border: none;
            height: 35px;
            width: 110;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 8px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 16px;
            padding-left: 16px;
            transition: opacity 0.15s;
            vertical-align: top;
        }
    
        .subscribe:hover {
            opacity: 0.7;
        }
    
        .subscribe:active {
            opacity: 0.3;
        }
    
        .join {
            background-color: white;
            border-color: rgb(0, 174, 255);
            border-width: 2px;
    
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 16px;
            padding-left: 16px;
    
            color: rgb(0, 174, 255);
           
            border-style: solid;
            font-size: 15px;
            cursor: pointer;
           
            transition: background-color 0.15s;
            transition: color 0.15s;
            vertical-align: top;
        }
    
        .join:hover {
            background-color: rgb(0, 174, 255);
            color: white;
            
        }
    
        .Twitter {
            background-color: rgb(29, 155, 240);
            color: white;
            font-size: 20;
            border-radius: 30px;
            border-color: rgb(0, 140, 255);
            height: 35px;
            width: 100px;
            border-style: none;
            font-weight: bold;
            cursor: pointer;
            transition: box-shadow 0.3s;
            vertical-align: top;
        }
        .Twitter:hover{
            box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
        }